<!DOCTYPE html>
<html>
<head>
  <title>SenchaOnRails</title>
  <%= stylesheet_link_tag    "touch" %>
  <%= javascript_include_tag "touch" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
